<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="rde_510407ConnectionString" connectionString="Data Source=SQL2008.net.dcs.hull.ac.uk;Initial Catalog=rde_514209;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <system.webServer>
    <!-- stop IIS hijacking the 404 and other non 200 error responses and replacing it with it's custom 404 page -->
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
    </httpErrors>
  </system.webServer>

</configuration>
